* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    /*background: url("../assets/home.png") center/cover, rgba(0, 0, 0, 0.5);*/
    /*background-blend-mode: multiply;*/
    background-image: url("assets/home.png");
    transition: background-image 1s ease-in-out;
  }
  .main-container {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: space-between;
    width: 100vw;
  }

  .ancients-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 40%;
    padding: 20px;
  }

  .ancient-card {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: 260px;
    width: 200px;
    transition: 0.5s;
  }

  .ancient-card-1 {
    background-image: url("assets/Ancients/Azathoth.png");
  }

  .ancient-card-2 {
    background-image: url("assets/Ancients/Cthulthu.png");
  }

  .ancient-card-3 {
    background-image: url("assets/Ancients/IogSothoth.png");
  }

  .ancient-card-4 {
    background-image: url("assets/Ancients/ShubNiggurath.png");
  }

  .ancient-card-active {
    border: 2px solid red;
    transition: 0.5s;
  }

  .difficulty-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
  }
  .difficulty-container-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
  }

  .difficulty {
    border: 2px solid white;
    box-sizing: border-box;
    /*color: purple;*/
    cursor: pointer;
    padding: 5px;
    text-align: center;
  }
  .difficulty-active {
    border-color: red;
  }

  .deck-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
  }

  .current-state {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }
  .current-state-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
  }

  .stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .stage-text {
    color: white;
  }
  .stage-text-active {
    color: yellow;
  }
  .dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .dot {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
  .green {
    background-color: green;
  }
  .brown {
    background-color: brown;
  }
  .blue {
    background-color: blue;
  }
  .shuffle-button {
    /*background-color: red;*/
    border: 2px solid white;
    /*color: purple;*/
    cursor: pointer;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }
  .shuffle-button-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
  }
  .deck {
    background-size: cover;
    height: 190px;
    width: 130px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
  }
  .deck-visible {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
  .last-card {
    background-size: cover;
    height: 285px;
    width: 195px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }
  .last-card-visible {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }